.feed-container {
  background-color: #e8e8e3; /* A slightly different background */
  border-radius: 8px;  
  padding: 1em  1.5em 1em; /*Top/Bottom and Left/Right*/
  margin:  0em -1.5em 1em; /*Oversizes div slightly, but maintains content area*/
  border: 1px solid #eee;
}

.feed-container h3 {
  margin-top: 5px;
  border-bottom: 2px solid #EE4242; /*EE is the answer to life*/
  padding-bottom: 10px;
}

.feed-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.feed-item:last-child {
  border-bottom: none; /* Remove border from the last item */
}

.feed-item h4 {
  margin: 0 0 5px 0;
}

.feed-item p {
  margin: 0;
  font-size: 0.9em; /* Make preview text slightly smaller */
  color: #333;
}
